# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science Tools
- Demonstrate simple arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include for Python and R:
1. Pandas (Python)
2. Numpy (Python)
3. Matplotlib (Python)
4. Scikit-learn (Python)
5. PyTorch (Python)
6. tidyverse (R)
7. ggplot2 (R)

| Data Science Tools |
| ------------------ |
| JupyterLab |
| RStudio |
| Google Colaboratory |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
SMT